*  {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
}

header {
  
}

div.class.row{
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
}

div.callout.large {
    background-image:url(https://images.unsplash.com/photo-1466927593098-4d4aa7a2b2d8?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 
    
}
div.medium-4.columns {
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
    
}

nav { 
  float: right;
  color: rgb(80, 4, 231);
  
}

body {
  background-color: rgb(249, 249, 249);
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: ;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  
}
p.lead { color: hsl(233, 29%, 94%);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
 
}

div.row.column.text-center{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}
ul {
  background-color: lightblue;
} 

h2 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}


.AQI {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightcyan;
  color: rgb(31, 83, 226);
  text-align: center;
  border-color: lightblue;
  border-width: 10px;
  border-style: solid;
  border-radius: 3px;
  margin: 20px 10px;
  padding: 2px 2px;
  
}

.UVI {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightcyan;
  color: rgb(31, 83, 226);
  text-align: center;
  border-color: lightblue;
  border-width: 10px;
  border-style: solid;
  border-radius: 3px;
  margin: 20px 10px;
  padding: 2px 2px;
}

.UVI p {
  background-color:rgb(163, 238, 250);
  padding: 15px 10px;
  text-align: left;
  margin: 3%; 
  padding-right: 5%;
  
}

.AQI p {
  background-color:rgb(163, 238, 250);
  padding: 15px 10px;
  text-align: left;
  margin: 3%; 
  padding-right: 5%;

}


footer {
  border: 0.1px solid black;
  background-color: lightblue;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
} 