*  {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
}

header {
  
  }

div.class.row{
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
}

div.callout.large {
    background-image:url(https://images.unsplash.com/photo-1466927593098-4d4aa7a2b2d8?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 
    
}
div.medium-4.columns {
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
    
}

nav { 
  float: right;
  color: rgb(80, 4, 231);
  
}

body {
  background-color: rgb(249, 249, 249);
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: ;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  
}
p.lead { color: hsl(233, 29%, 94%);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
 
}

div.row.column.text-center{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}
ul {
  background-color: lightblue;
} 

h2 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}
section { 
  color: rgb(167, 67, 149);
  margin-bottom: ;
  text-align: center;
 
}

footer {border: 0.1px solid black;
  background-color: lightblue;
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
} 