*  {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
}

div.callout.large {
  background-image:url(https://images.unsplash.com/photo-1466927593098-4d4aa7a2b2d8?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 
  
}

div.class.row{
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
}

div.row {
  text-align: center;
}


.SearchBar {
  position: flex;
  top: 100px;
  left: 50px;
}

input#location {
  position: flex;
  height: 30px;
  width: 250px;
  filter: drop-shadow( 5px 5px grey);
}

#search {
  margin-right: 400px;
  letter-spacing: 1px;
  padding-top: 7px  ;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
border: solid black;
background-color: rgb(206, 202, 198);
filter: drop-shadow( 5px 5px grey);
}

.search-label {
  font-size: 20px;
  font-weight: 600;
}

.search-input {
  width: 100%;
  height: 40px;
  border-color: lightgrey;
  border-width: thin;
  padding: 0 15px;
}

.search-button {
  padding: 10px 15px;
}


/* Air Quality */

.forecast {
  display: flex;
  justify-content: space-around;
}

div.current-weather-container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  border: 1px solid black;
}


/* UV */



.current-weather-container {
  border-color: rgb(116, 108, 108);
  border-width: thin 0 thin thin;
  border-style: solid;
  border-radius: 3px;
  margin: 20px 0 0 20px;
  padding: 0 0 12px 0;
}

.current-title-container {
  display: flex;
background-color: peachpuff;
}

.current-title {
  font-size: 40px;
  margin: 15px 0 20px 20px;
}

.current-weather-icon {
  width: 80px;
  height: 80px;
}

.current-temperature, .current-humidity, .current-wind-speed {
  margin: 15px 20px;
  font-size: 20px;
}

.current-uv-index {
  font-size: 20px;
  display: inline;
  margin: 0 0 0 20px;
}

.current-number {
  font-size: 20px;
  display: inline;
  color: white;
  padding: 5px 10px;
}


/* Con't HTML  */


div.medium-4.columns {
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
    
}

nav { 
  float: right;
  color: rgb(80, 4, 231);
  
}

body {
  background-color: rgb(249, 249, 249);
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: ;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  
}
p.lead { color: hsl(233, 29%, 94%);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
 
}

div.row.column.text-center{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}
ul {
  background-color: lightblue;
} 

h2 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}

h4{
text-align: center;

}
section { 
  color: rgb(18, 16, 18);
  margin-bottom: ;
  text-align: left;
   

}
form{
  text-align: left;
}

footer {border: 0.1px solid black;
  background-color: lightblue;
  font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
} 

.AQI {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightcyan;
  color: rgb(31, 83, 226);
  text-align: center;
  border-color: lightblue;
  border-width: 10px;
  border-style: solid;
  border-radius: 3px;
  margin: 20px 10px;
  padding: 2px 2px;
}
.UVI {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightcyan;
  color: rgb(31, 83, 226);
  text-align: center;
  border-color: lightblue;
  border-width: 10px;
  border-style: solid;
  border-radius: 3px;
  margin: 20px 10px;
  padding: 2px 2px;
}
.UVI p {
  background-color:rgb(163, 238, 250);
  padding: 15px 10px;
  text-align: left;
  margin: 3%;
  padding-right: 5%;
}
.AQI p {
  background-color:rgb(163, 238, 250);
  padding: 15px 10px;
  text-align: left;
  margin: 3%;
  padding-right: 5%;
}






