.current-weather-container {
    border-color: lightgrey;
    border-width: thin 0 thin thin;
    border-style: solid;
    border-radius: 3px;
    margin: 20px 0 0 20px;
    padding: 0 0 12px 0;
}

.current-title-container {
    display: flex;
	background-color: peachpuff;
}

.current-title {
    font-size: 40px;
    margin: 15px 0 20px 20px;
}

.current-weather-icon {
    width: 80px;
    height: 80px;
}

.current-temperature, .current-humidity, .current-wind-speed {
    margin: 15px 20px;
    font-size: 20px;
}

.current-uv-index {
    font-size: 20px;
    display: inline;
    margin: 0 0 0 20px;
}

.current-number {
    font-size: 20px;
    display: inline;
    color: white;
    padding: 5px 10px;
}